html{
	background-color: #fff;
}


.nav-bar{
	position: relative;
	padding: 29px 0 20px 0;
	margin: 0 auto;
	display: block;
	background-color: white;
	font-family: "ProximaNova","Helvetica Neue",helvetica,arial,sans-serif;

}
.tweets{
	background-color: #FFFFCC;

}